<%- include ('partials/_header'); %>
<%- include ('partials/_navMenu'); %>
<%- include ('partials/_bodyUpper'); %>	
<div id="content">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			<h1 class="page-title txt-color-blueDark">
				<i class="fa fa-fw fa-list"></i> 
					Sequências 
				<span>> 
				 	Editar Sequências
				</span>
			</h1>
		</div>
    </div>
    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-6 col-md-6 col-lg-6">
		<% if ( typeof sequencia == 'undefined' ) { %> 

		<div class="alert alert-warning alert-block">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">Error!</h4>
			   <%=	(typeof err !== 'undefined' ? err : '' ) %>
			</div> 

		<% } %>
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
			<header>
					<span class="widget-icon"> <i class="fa fa-cloud"></i> </span>
					<h2>Upload fastQ R1! </h2>

			</header>
			<!-- widget div-->
			<div>
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<form class="dropzone" id="mydropzonefqr1">
							<footer>
								<button id="atrasfqr1" type="button" class="btn btn-primary">
									Volver
								</button>
							</footer>
						</form>

					</div>
					<!-- end widget content -->

			</div>
			<!-- end widget div --> 

                </div>
            </article>
		
	    <article class="col-sm-6 col-md-6 col-lg-6">
                <% if ( typeof sequencia == 'undefined' ) { %>

                <div class="alert alert-warning alert-block">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <h4 class="alert-heading">Error!</h4>
                           <%=  (typeof err !== 'undefined' ? err : '' ) %>
                        </div>

                <% } %>
	    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                        <header>
                                        <span class="widget-icon"> <i class="fa fa-cloud"></i> </span>
                                        <h2>Upload fastQ R2! </h2>

                        </header>
                        <!-- widget div-->
                        <div>
                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->

                                        <!-- widget content -->
                                        <div class="widget-body">

                                                <form class="dropzone" id="mydropzonefqr2">
                                                        <footer>
                                                                <button id="atrasfqr2" type="button" class="btn btn-primary">
                                                                        Volver
                                                                </button>
                                                        </footer>
                                                </form>

                                        </div>
                                        <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                </div>
            </article>

	</div>
	<div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
                        <header>
                                        <span class="widget-icon"> <i class="fa fa-cloud"></i> </span>
                                        <h2>Upload fastA! </h2>

                        </header>
                        <!-- widget div-->
                        <div>
                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->

                                        <!-- widget content -->
                                        <div class="widget-body">

                                                <form class="dropzone" id="mydropzonefa">
                                                        <footer>
                                                                <button id="atrasfa" type="button" class="btn btn-primary">
                                                                        Volver
                                                                </button>
                                                        </footer>
                                                </form>

                                        </div>
                                        <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                </div>
            </article>
        </div>
    </section>


</div>
<%- include ('partials/_bodyBottom'); %>	
<script src="/sgbmi/js/plugin/dropzone/dropzone.min.js"></script>
<script>
	Dropzone.autoDiscover = false; 
	$(document).ready(function() {

		pageSetUp();
		$("#mydropzonefqr1").dropzone({
			paramName: "arquivo",
			url: "/sgbmi/admin/sequences/upload/fastqr1/<%= sequencia._id %>",
			addRemoveLinks : true,
			maxFilesize: 30000,
			maxFiles: 1,
			acceptedFiles: ".fastq,.fastq.gz",
			dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Select a fastQ R1 file <span class="font-xs"></span></span><span>&nbsp&nbsp<h4 class="display-inline"> (O Click)</h4></span>',
			dictInvalidFileType: 'Error para subir este tipo de arquivo',
			dictMaxFilesExceeded: 'So pode enviar um arquivo por vez',
			dictResponseError: 'Error para subir arquivo!'
		});
	
		$("#atrasfqr1").click(function(){
			window.location.replace("http://aureus.procc.fiocruz.br/sgbmi/admin/sequences/list");
		});

		$("#mydropzonefqr2").dropzone({
                        paramName: "arquivo",
                        url: "/sgbmi/admin/sequences/upload/fastqr2/<%= sequencia._id %>",
                        addRemoveLinks : true,
                        maxFilesize: 30000,
                        maxFiles: 1,
                        acceptedFiles: ".fastq,.fastq.gz",
                        dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Select a fastQ R2 file<span class="font-xs"></span></span><span>&nbsp&nbsp<h4 class="display-inline"> (O Click)</h4></span>',
                        dictInvalidFileType: 'Error para subir este tipo de arquivo',
                        dictMaxFilesExceeded: 'So pode enviar um arquivo por vez',
                        dictResponseError: 'Error para subir arquivo!'
                });
        
                $("#atrasfqr2").click(function(){
                        window.location.replace("http://aureus.procc.fiocruz.br/sgbmi/admin/sequences/list");
                });



		$("#mydropzonefa").dropzone({
                        paramName: "arquivo",
                        url: "/sgbmi/admin/sequences/upload/fasta/<%= sequencia._id %>",
                        addRemoveLinks : true,
                        maxFilesize: 30000,
                        maxFiles: 1,
                        acceptedFiles: ".fasta,.fasta.gz",
                        dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Select a fastA  file <span class="font-xs"></span></span><span>&nbsp&nbsp<h4 class="display-inline"> (O Click)</h4></span>',
                        dictInvalidFileType: 'Error para subir este tipo de arquivo',
                        dictMaxFilesExceeded: 'So pode enviar um arquivo por vez',
                        dictResponseError: 'Error para subir arquivo!'
                });
        
                $("#atrasfa").click(function(){
                        window.location.replace("http://aureus.procc.fiocruz.br/sgbmi/admin/sequences/list");
                });
	});
	
</script>
<%- include ('partials/_footer'); %>
