<!DOCTYPE html>
<html lang="<%= (typeof lang !== 'undefined' ? ( lang == 'es' ? 'es' : ( lang == 'us' ? 'en' : 'pt') ) : 'pt') %>">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title> SGBMI Admin </title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/smartadmin-production.min.css">
        	<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/smartadmin-skins.min.css">
        	<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/sgbmi.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/smartadmin-rtl.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/sgbmi/css/demo.min.css">
		<link rel="shortcut icon" href="/sgbmi/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/sgbmi/img/favicon/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
		<link rel="apple-touch-icon" href="/sgbmi/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/sgbmi/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/sgbmi/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/sgbmi/img/splash/touch-icon-ipad-retina.png">
	</head>
	<body class="<%= (typeof sess !== 'undefined' && sess.tipo  == 'OPER' ? 'menu-on-top' : ' '  )  %>">
		<header id="header">
			<div id="logo-group">
				<span id="logo"> <img src="/sgbmi/img/logo_sgbmi.png" alt="SGBMI Admin"> </span>
			</div>

			<div class="pull-right">

				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>

				<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
					<li class="">
						<a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown"> 
							<img src="/sgbmi/img/avatars/sunny.png" alt="John Doe" class="online" />  
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/sgbmi/admin/logout" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
							</li>
						</ul> 
					</li>
				</ul>

				<div id="logout" class="btn-header transparent pull-right">
					<span> <a href="/sgbmi/admin/logout" title="Sair" data-action="userLogout" data-logout-msg="Para mayor seguridad cierre el navegador"><i class="fa fa-sign-out"></i></a> </span>
				</div>

				<div id="fullscreen" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
				</div>

				<ul class="header-dropdown-list hidden-xs">
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="/sgbmi/img/blank.gif" class="flag flag-<%= (typeof lang !== 'undefined' ? lang : ' '  )  %>" alt=""> <span> <%= (typeof lang !== 'undefined' ? lang : ' '  )  %> </span> <i class="fa fa-angle-down"></i> </a>
						<ul class="dropdown-menu pull-right">
							<li class="<%= (typeof lang !== 'undefined' && lang  == 'us' ? 'active' : ' '  )  %>">
								<a href="/sgbmi/admin/language/us"><img src="/sgbmi/img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
							</li>
							<li class="<%= (typeof lang !== 'undefined' && lang  == 'br' ? 'active' : ' '  )  %>">
								<a href="/sgbmi/admin/language/br"><img src="/sgbmi/img/blank.gif" class="flag flag-br" alt="Brazil"> Português</a>
							</li>
							<li class="<%= (typeof lang !== 'undefined' && lang  == 'es' ? 'active' : ' '  )  %>">
								<a href="/sgbmi/admin/language/es"><img src="/sgbmi/img/blank.gif" class="flag flag-es" alt="Spanish"> Español</a>
							</li>

						</ul>
					</li>
				</ul>

			</div>

		</header>

		<aside id="left-panel">

			<div class="login-info">
				<span> 
					
					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="/sgbmi/img/avatars/sunny.png" alt="me" class="online" /> 
						<span>
							<%= (typeof sess == 'undefined' ? ' ' : sess.usuario + '/'+ sess.tipo )  %>
						</span>
						<i class="fa fa-angle-down"></i>
					</a> 
					
				</span>
			</div>
